.card-image img {
  height: 50%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 70%;
  margin-left: 15%;
}

.star {
  padding-left: 1em;
}

.dare-text {
  font-size: 1.2rem;
  margin: 0 1em !important;
}

.star,
.dare-text:hover {
  cursor: default;
}

#slide-out {
  background: linear-gradient(#0D1C31, #8B46B9);
  color: rgb(255, 255, 255);
  width: 16% !important;
}
.side-nav li {
  line-height: 2.5rem !important;
}

.recommended {
  padding: 0 1.5em;
}

.recommended:hover {
  color: rgb(168, 42, 168);
  cursor: pointer;
}

.recommendedLinks {
  display: inline-block !important;
  padding: 0 1em !important;
  font-size: 1.2rem !important;
  vertical-align: 5px;
}

.glass {
  position: absolute;
  bottom: .8em;
  margin-left: .6em;
  color: rgb(255, 255, 255) !important;
}

a:hover {
  background-color: transparent !important;
}

#search {
  background-color: rgba(255, 255, 255, .1) !important;
  color: white;
}

input:focus {
  border-bottom: 1px solid rgb(168, 42, 168) !important;
  box-shadow: 0 1px 0 0 rgb(168, 42, 168) !important;
}
#cocktail {
  margin: 0 !important;
  height: 96.2vh;
  background-color: rgba(69, 50, 110, 0.5);
}
.open-bar {
  width: 84%;
  margin-left: 16%;
}
.background {
  height: 96.2vh;
  background-image: url(../img/cheers.jpg);
  background-size: cover;
}
.welcome-text {
  height: 96.2vh;
  color: white;
  background-color:#b62ee059;
  padding: 0 11.8em;
}
.drink-name {
  width: 84%;
  display: inline-block;
}
.open-bar .row {
  margin: 0 !important;
}
.open-bar .row .col {
  padding: 0 !important;
}
.card {
  margin: 0;
}
.filtro {
  width: 100%;
  border-radius: 0 !important;
  background-color: #111e38;
  border-right: .5px solid white;
}
.filtro:hover, .filtro:focus, #logOut:hover, #logOut:focus, .strSelect a:hover {
  background-color:  #111e38 !important;
  color:  rgb(168, 42, 168) !important;
}
.strSelect a {
  color: white !important;
  background-color: #111e38;
}
#logOut {
  width: 100%;
  position: absolute;
  bottom: 6%;
  background-color: #0D1C31;
  border: none;
  font-size: 1.2rem;
  height: 5%;
}
.btn-flat {
  color: #0c1931;  
}
.form-btn, #test1, #test2 {
  margin-top: 3em;
  margin-bottom: 2em;
}
.modal {
  max-height: 90%;
  background-color: #111e38;
  color: #FFF;
}
.modal-header {
  padding: 2em 3em;
}
.tabs {
  background-color: #0c1931;
}
.tabs .tab a {
  color: rgba(255, 255, 255, .5)
}
.tabs .tab a:hover {
  color: #FFF !important;
}
.tabs .tab .active {
  color: rgb(255, 255, 255) !important;
}
.tabs .indicator {
  background-color: #FFF; 
}
[type="checkbox"]:checked+label:before {
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
}